/* MOBILE FIRST */

.texto-volver{
    font-size: 20px;
}

.boton-volver{
    font-family: "futura-medium";
    font-size: 15px;
    height: 40px;
    padding-left: 40px;
    background-color: rgb(94, 13, 63);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.section-medio-cotizaciones{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background-color: #1d1d1d;
    height: auto;
}

.titulo-cripto{
    font-family: "futura-bold";
    font-size: 20px;
}

.titulo-cotizaciones{
    font-family: "futura-bold";
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

h5{
    padding-top: 10px;
    padding-bottom: 10px;
}

.titulo-pagina{  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-family: "futura-medium";
    color: rgb(255, 255, 255);
    background-color: #292929;
}

/* PRUEBA FOR*/

@for $i from 1 through 6{
    .contenedor-arbitrajes-#{$i}{
        font-family: "futura-book";
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(255, 255, 255);
        height: 550px;
    }

    .precio-cripto{
        display: flex;
        flex-direction: column;
    }

    .contenedor-titulo-cripto{
        display: flex;
        justify-content: center;
        height: 45px;
        background-color: rgb(17, 145, 150);
    }

    .contenedor-cotizacion{
        display: flex;
        justify-content: space-around;
    }

    .section-cripto{
        font-family: "futura-book";
        display: flex;
        justify-content: center;
        color: rgb(255, 255, 255);
        height: 500px;
        width: 550px;
    }
    
    .exchange-cripto-arbitraje{
        font-size: 15px;
        font-family: "futura-medium";
        padding-left: 10px;
        height: 420px;
        width: 105px;
        background-color: #292929;
    }
    
    .precio-compra-arbitraje{
        font-size: 15px;
        text-align: center;
        height: 420px;
        width: 100px;
        background-color: #165542;
    }
    
    .precio-venta-arbitraje{
        font-size: 15px;
        text-align: center;
        height: 420px;
        width: 100px;
        background-color: #b91b1b;
    }

    .section-cripto{
    font-family: "futura-book";
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
    height: 500px;
    width: 550px;
    }    
}

