*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "./_fonts";
@import "./_nav";
@import "./_principal";
@import "./_footer";
@import "./_principal--registro";
@import "./_principal--arbitips";
@import "./_principal--cotizaciones";
@import "./principal--arbitrajes";

